* {
	box-sizing: border-box;
}
:root {
	--color-primary: #08a6e4;
	--color-primary-shadow: rgba(7, 172, 230, 0.16);
	--color-redish: #fb3b64;
	--color-green: #55dfb4;
	--color-black: #000000;
	--color-grey: #a5a5a5;
	--color-light-grey: #f7f7f7;
	--color-white: #ffffff;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Raleway', sans-serif;
}

p,
a {
	font-family: 'Open Sans', sans-serif;
}

h2 {
	font-size: 3.6rem;
	color: var(--color-black);
}

.circle {
	position: relative;
	height: 63px;
	width: 63px;
	background-color: var(--color-redish);
	border-radius: 50%;
}

.container {
	width: 1352px;
	margin: 0px auto;
}

.btn {
	text-decoration: none;
	border-radius: 40px;
	background-color: var(--color-primary);
	color: var(--color-white);
	box-shadow: var(--color-primary-shadow);
}

.under-line {
	max-width: 327px;
	height: 4px;
	background-color: #fb3b64;
}

/* HEADER SECTION  */

.header {
	display: flex;
	align-items: center;
	height: 70px;
	box-shadow: 0px 3px 6px #00000029;
}

.header .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__page-title {
	font-size: 3.2rem;
	font-weight: 300;
	color: var(--color-primary);
	text-decoration: none;
}

.nav__list {
	display: flex;
	gap: calc(95px - 36px);
}

.nav__item-box {
	display: flex;
	align-items: center;
	height: 70px;
	border: 3px solid transparent;
	transition: border 0.3s;
}

.nav__item-box:hover {
	border-bottom: 3px solid var(--color-primary);
}

.nav__item {
	padding: 30px 12px;
	font-size: 1.1rem;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 3.28px;
	color: var(--color-grey);
	transition: color 0.3s;
}

.nav__item:hover {
	color: var(--color-black);
}

/* Opening section  */

.opening__section {
	padding: 130px 0 0 0;
	text-align: center;
}

.opening__section-title {
	font-size: 4.9rem;
	color: var(--color-black);
}

.opening__section-text {
	font-size: 1.6rem;
	padding: 20px 0 60px 0;
}

.opening__btn {
	font-size: 1.6rem;
	padding: 22px 157px;
	font-weight: 700;
}

.opening__img-box {
	display: flex;
	justify-content: center;
}

/* Section sales  */

.sales {
	padding: 100px 0 122px 0;
	text-align: center;
}

.sales__cards-container {
	padding-top: 101px;
	display: flex;
	justify-content: center;
	gap: 184px;
}

.sales__card {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 176px;
}

.circle--red {
	margin-right: 10px;
}

.circle--blue {
	background-color: var(--color-primary);
}

.circle--green {
	background-color: var(--color-green);
}

.sales__person-icon {
	position: absolute;
	top: 3px;
	left: 58px;
}
.sales__eye-icon {
	position: absolute;
	top: 14px;
	left: 22px;
}

.sales__catalog-icon {
	position: absolute;
	top: 6px;
	left: 30px;
}

.sales__card-number {
	font-size: 2rem;
	font-weight: 800;
	letter-spacing: 5.96px;
	padding: 14px 0 19px 0;
	font-family: 'Raleway', sans-serif;
}

.sales__card-text {
	font-size: 1.6rem;
	color: var(--color-grey);
	font-family: 'Raleway', sans-serif;
	max-width: 130px;
}

/* Section MARKETING  */

.marketing {
	background-color: var(--color-light-grey);
	padding: 105px 0;
}

.marketing__cards-container {
	margin: 0 auto;
	max-width: 1124px;
	display: flex;
	flex-direction: column;
	gap: 37px;
}

.marketing__card {
	max-height: 370px;
	background-color: var(--color-white);
	border: 1px solid #e8e9ed;
	display: flex;
}

.marketing__card-title {
	max-width: 300px;
}
.mackbook-card {
	gap: 169px;
	padding: 38px 71px 38px 35px;
}

.marketing__text-box {
	padding-top: calc(91px - 38px);
	padding-bottom: calc(91px - 38px);
}

.marketing__card-text {
	font-size: 1.6rem;
	padding: 30px 0 50px 0;
}

.marketing__img-mackbook {
	position: relative;
	padding: 75px 46px 0px 0px;
}
.marketing__img-iphone {
	position: relative;
}

.square {
	position: absolute;
	left: 220px;
	bottom: 79px;
	transform: rotate(45deg);
	width: 180px;
	height: 180px;
	border-radius: 41px;
	background-color: var(--color-redish);
}

.marketing__img {
	position: relative;
}

.marketing__mackbook-img {
	z-index: 3;
	position: relative;
	max-width: 386px;
	max-height: 219px;
}

.blue--line {
	background-color: var(--color-primary);
}

.circle-back {
	position: absolute;
	left: 0px;
	bottom: 30px;
	width: 320px;
	height: 320px;
	border-radius: 50%;
	background-color: var(--color-primary);
}

.marketing__iphone-img {
	position: relative;
	max-width: 426px;
	max-height: 328px;
	z-index: 4;
}

.iphone-card {
	gap: 192px;
	padding: 29px 20px 13px 70px;
}

.brand-card {
	padding: 69px 34px 70px 35px;
	max-width: 623px;
}

.brand-title {
	max-width: 400px;
}

.brand-text {
	padding: 0;
}

.green--line {
	background-color: var(--color-green);
}

.marketing__brand-container {
	display: flex;
	gap: 61px;
}

.brand__trumpet--photo {
	max-width: 440px;
	background-color: var(--color-green);
	padding: 98px 81px 64px 62px;
}

.trumpet-img {
	height: 207px;
	width: 295px;
}
